.navigationBar {
  width: 100vw;
  height: 100px;
  background-image: url("../public/nav\ bar.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .navigationBar,
  .finance,
  .filters,
  .legal,
  .main,
  .financeBanner {
    display: none;
  }
}

.finance {
  width: 100vw;
  height: 137px;
  background-image: url("../public/Finance\ Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.filters {
  width: 298px;
  height: 1031px;
  background-image: url("../public/Search.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.legal {
  width: 100vw;
  height: 100px;
  background-image: url("../public/Legal.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Main {
  width: 100vw;
  height: 100px;
  background-image: url("../public/Main.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  width: 100vw;
  height: fit-content;
}

.financeBanner {
  width: 1029px;
  height: 347px;
  margin-left: 80px;
  background-image: url("../public/Representative\ Example.png");
  background-repeat: no-repeat;
  background-size: cover;
}
