.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 40px; */
  /* margin: 40px; */
}

.content Listing {
  margin: 10px;
}

.listingsType {
  width: 1029px;
  height: 50px;
  background-image: url("/public/Listing\ type.png");
  background-repeat: no-repeat;
  background-size: cover;
}