.logo {
    background-image: url("../public/CarDealer.png");
    height:50px;
    width:180px;
    background-repeat: no-repeat;
}

.logoUK {
    background-image: url("../public/UK.png");
    height:50px;
    width:200px;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 140px;
}